<header ng-controller="navigationController" class="hWrapper actions-menu unselectable">

  <div class="rWrapper titleLevel">
    <div custom-dropdown dropdown-toggle class="f0 has-dropdown medFontSize" dropdown-menu="dropdown-projects-menu">

      <a class="menu-trigger action hTitle dropdown-field">
        <span class="current-project dropdown-value" ng-bind="project.name"></span>
        <span class="arrow-down"></span>
      </a>

      <div class="listWrapper listWrapperSkin custom-dropdown-menu" id="dropdown-projects-menu">
        <a class="menuitem" href="#/issues">
          <span class="menuitem-content">
            <span>Tous les projets</span>
          </span>
        </a>
        <div class="submenu-link" ng-class="{'separator-horizontal': frequent_projects.length > 0}"></div>
        <a ng-repeat="project in frequent_projects" class="menuitem" href=""><span class="menuitem-content"><span>{{ project.name }}</span></span></a>
        <div class="submenu-link separator-horizontal"></div>
        <div class="action-item keep-open">

          <span>
            <input ng-model="search.name" type="text" class="invisible-input" placeholder="Filtrer" id="filter-projects" autocomplete="off"/>
          </span>

          <span ng-show="search.name">
            <a ng-href="#/issues/filters?project_name={{ search.name }}&assigned_to_id={{ current.filters['assigned_to_id'] }}" class="search_filter btn btn-default">
              <img src="/plugin_assets/redmine_angular_ui/images/filter_list.svg" width="24" height="24" style="fill:#555555;color:#555555;">
            </a>
          </span>

        </div>
        <div class="submenu-link separator-horizontal"></div>
        <div class="vFader">
          <div class="vSlider" id="projects-list">
            <a class="menuitem disable" ng-hide="app.projects" href="#"><span class="menuitem-content"><span>Projets en cours de chargement</span></span></a>
            <a class="menuitem" ng-class="{'is-hover': $first, disable: project.allowed_to_view_issues === 0}" ng-repeat="project in app.projects | filter:{name: search.name}" ng-href="{{ project.allowed_to_view_issues === 1 ? ('#/issues/filters?project_id=' + project.id + '&assigned_to_id=' + current.filters['assigned_to_id']) : '#/issues' }}">
              <span class="menuitem-content">
                <span>{{ project.name }}</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--
    <div custom-dropdown dropdown-toggle class="f0 has-dropdown medFontSize" dropdown-menu="dropdown-stages-menu">
      <a class="menu-trigger action  dropdown-field">
        <span class="current-stage dropdown-value">Demandes</span>
        <span class="arrow-down"></span>
      </a>
      <div class="listWrapper listWrapperSkin custom-dropdown-menu has-selectable-items" id="dropdown-stages-menu">
        <div ng-repeat="stage in stages" ng-class="{'selected-item': stage == current.stage}" class="menuitem"><div class="menuitem-content"><span>{{ stage }}</span></div></div>
        <div class="submenu-link separator-horizontal"></div>
        <div class="menuitem"><div class="menuitem-content"><span>Administration</span></div></div>
      </div>
    </div>
    -->

    <div class="f2 search-wrapper medFontSize">

      <div search-box search-box-toggle class="search-box">
        <form class="search-form">
          <fieldset class="f11 search-fieldset" id="search-fieldset">
            <div class="sfield-1 search-box-field"><input type="text" class="search-input" placeholder="Cliquez pour voir les filtres actifs" id="search" autocomplete="off"></div>
            <div class="sfield-2 has-dropdown">
              <div class="menu-trigger arrow-wrapper"><span class="arrow-down"></span></div>
              <div class="listWrapper listWrapperSkin filter-fieldset search-box-menu">
                <div class="arrow-close"></div>

                <!--

                <div class="formarea">
                  <div class="rWrapper">
                    <div class="has-dropdown isInBloVisible">
                      <div class="list-trigger select-list">Demandes <span class="arrow-up-and-down"></span></div>
                      <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Annonces</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Révisions</span></div></div>
                        <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Demandes</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Wiki</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Messages</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Redmine Plugins</span></div></div>
                        <div class="submenu-link separator-horizontal"></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Tous les objets</span></div></div>
                      </div>
                    </div>
                    <span class="unselectable">&nbsp;dans&nbsp;</span>
                    <div class="has-dropdown isInBloVisible">
                      <div class="list-trigger isInBloVisible select-list">Numéro Unique Infocentre <span class="arrow-up-and-down"></span></div>
                      <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                        <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Numéro Unique Infocentre</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Tous les projets</span></div></div>
                      </div>
                    </div>
                  </div>
                </div>



                <div class="submenu-link separator-horizontal"></div>

                -->


                <div class="formarea">
                  <table class="invisible-table">
                    <colgroup>
                      <col class="select-col">
                      <col class="form-label">
                      <col class="form-condition">
                      <col class="form-value">
                    </colgroup>

                    <!-- Assigned_to_id -->
                    <tr class="selected">
                      <td><div class="check" ng-class="{'is-checked': current.filters['assigned_to_id'] != undefined && current.filters['assigned_to_id'].length > 0 }" ><div class="mark"></div></div></td>
                      <td><span class="isInBloVisible searchLabel unselectable">Assigné à</span></td>
                      <td>
                        <div class="has-dropdown isInBloVisible">
                          <div class="list-trigger isInBloVisible select-list" ng-bind="current.filters['assigned_to_id'] == '!*' ? 'Aucun' : 'Tous' ">Différent <span class="arrow-up-and-down"></span></div>
                          <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                            <div class="menuitem data-test"><div class="menuitem-content"><span>Égal</span></div></div>
                            <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Différent</span></div></div>
                            <div class="menuitem data-test"><div class="menuitem-content"><span>Tous</span></div></div>
                          </div>
                        </div>
                      </td>
                      <!--
                      <td>
                        <div class="has-dropdown isInBloVisible">
                          <div class="list-trigger isInBloVisible select-list">Nouveau <span class="arrow-up-and-down"></span></div>
                          <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                            <div class="menuitem data-test"><div class="menuitem-content"><span>Ouvert</span></div></div>
                            <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Nouveau</span></div></div>
                            <div class="menuitem data-test"><div class="menuitem-content"><span>Fermé</span></div></div>
                            <div class="menuitem data-test"><div class="menuitem-content"><span>Rejeté</span></div></div>
                            <div class="menuitem data-test"><div class="menuitem-content"><span>Traité</span></div></div>
                          </div>
                        </div>
                      </td>
                      -->
                    </tr>

                    <!-- status -->
                    <tr class="selected">
                      <td><div class="check" ng-class="{'is-checked': current.filters['status_id'] != undefined || true }"><div class="mark"></div></div></td>
                      <td><span class="isInBloVisible searchLabel unselectable">Statut</span></td>
                      <td>
                        <div class="has-dropdown isInBloVisible">
                          <div class="list-trigger isInBloVisible select-list">Ouvert <!--<span class="arrow-up-and-down">--></span></div>
                          <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                            <div class="menuitem data-test"><div class="menuitem-content"><span>Égal</span></div></div>
                            <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Différent</span></div></div>
                            <div class="menuitem data-test"><div class="menuitem-content"><span>Tous</span></div></div>
                          </div>
                        </div>
                      </td>
                      <!--
                      <td>
                        <div class="has-dropdown isInBloVisible">
                          <div class="list-trigger isInBloVisible select-list">Nouveau <span class="arrow-up-and-down"></span></div>
                          <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                            <div class="menuitem data-test"><div class="menuitem-content"><span>Ouvert</span></div></div>
                            <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Nouveau</span></div></div>
                            <div class="menuitem data-test"><div class="menuitem-content"><span>Fermé</span></div></div>
                            <div class="menuitem data-test"><div class="menuitem-content"><span>Rejeté</span></div></div>
                            <div class="menuitem data-test"><div class="menuitem-content"><span>Traité</span></div></div>
                          </div>
                        </div>
                      </td>
                      -->
                    </tr>

                    <!-- Project -->
                    <tr class="selected">
                      <td><div class="check" ng-class="{'is-checked': (current.filters['project_id'] != undefined && current.filters['project_id'].length > 0)
                                                                      || (current.filters['project_ids'] != undefined && current.filters['project_ids'].length > 0)
                                                                      || (current.filters['project_name'] != undefined && current.filters['project_name'].length > 0) }"><div class="mark"></div></div></td>
                      <td><span class="isInBloVisible searchLabel unselectable">Projet</span></td>
                      <td>
                        <div class="has-dropdown isInBloVisible">
                          <div class="list-trigger isInBloVisible select-list">Égal <!--<span class="arrow-up-and-down">--></span></div>
                          <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                            <div class="menuitem data-test"><div class="menuitem-content"><span>Égal</span></div></div>
                            <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Différent</span></div></div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="has-dropdown isInBloVisible">
                          <div class="list-trigger isInBloVisible select-list" ng-bind="project.name">Non prioritaire <span class="arrow-up-and-down"></span></div>
                          <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                            <div class="menuitem data-test"><div class="menuitem-content"><span>Haute</span></div></div>
                            <div class="menuitem data-test"><div class="menuitem-content"><span>Moyenne</span></div></div>
                            <div class="menuitem data-test"><div class="menuitem-content"><span>Basse</span></div></div>
                            <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Non prioritaire</span></div></div>
                          </div>
                        </div>
                      </td>
                    </tr>

                  </table>
                </div>

                <!--

                <div class="submenu-link separator-horizontal"></div>
                <div class="formarea">
                  <div class="rWrapper">
                    <div class="f1"><a href="" class="action-link">Sauvegarder</a></div>
                    <div class="f1 align-right"><button class="search-button-inline icon" data-icon="?"></button></div>
                  </div>
                </div>

                -->

              </div>
            </div>
          </fieldset>
          <button class="f0 search-button icon" data-icon="?"></button>
        </form>
      </div>

      <form>
        <switch name="issues_filter" ng-model="current.permanent_mode"></switch>
      </form>
    </div>

  </div>

</header>
