<header ng-controller="navigationController" class="hWrapper actions-menu unselectable">

  <div class="rWrapper titleLevel">
    <div custom-dropdown dropdown-toggle class="f0 has-dropdown medFontSize" dropdown-menu="dropdown-projects-menu">

      <a class="menu-trigger action hTitle dropdown-field">
        <span class="current-project dropdown-value" ng-bind="project.name"></span>
        <span class="arrow-down"></span>
      </a>
      <div class="listWrapper listWrapperSkin custom-dropdown-menu" id="dropdown-projects-menu">
        <a class="menuitem" href="#/issues"><span class="menuitem-content"><span>Tous les projets</span></span></a>
        <div class="submenu-link separator-horizontal"></div>
        <a ng-repeat="project in frequent_projects" class="menuitem" href=""><span class="menuitem-content"><span>{{ project.name }}</span></span></a>
        <div class="submenu-link separator-horizontal"></div>
        <div class="action-item keep-open"><input ng-model="search.name" type="text" class="invisible-input" placeholder="Filtrer" id="filter-projects" autocomplete="off"/></div>
        <div class="submenu-link separator-horizontal"></div>
        <div class="vFader">
          <div class="vSlider" id="projects-list">
            <a class="menuitem" ng-repeat="project in app.projects | filter:{name: search.name}" href="#/projects/{{project.id}}/issues"><span class="menuitem-content"><span>{{ project.name }}</span></span></a>
          </div>
        </div>
      </div>
    </div>

    <div custom-dropdown class="f0 has-dropdown medFontSize">
      <a class="menu-trigger action">
        <span class="current-stage">Demandes</span>
        <span class="arrow-down"></span>
      </a>
      <div class="listWrapper listWrapperSkin custom-dropdown-menu has-selectable-items">
        <div ng-repeat="stage in stages" ng-class="{'selected-item': stage == app.stage}" class="menuitem"><div class="menuitem-content"><span>{{ stage }}</span></div></div>
        <div class="submenu-link separator-horizontal"></div>
        <div class="menuitem"><div class="menuitem-content"><span>Administration</span></div></div>
      </div>
    </div>

  </div>

</header>
