<% if User.current.admin? %>
  <div class="contextual-link">
    <%= link_to image_tag('Redmine_Live-01.png', plugin: 'redmine_angular_ui'), angular_path, target: '_blank' %>
  </div>
  <style>
    .contextual-link {
      float: right;
      white-space: nowrap;
      line-height: 1.4em;
      margin-top: 1px;
      padding-left: 10px;
      font-size: 0.9em;
    }
    .contextual-link img{
      height: 20px;
    }
  </style>
<% end %>

