<% if User.current.admin? %>
  <div class="contextual-link">
    <div class="border-left"></div>
    <div class="bg-link">
      <%= link_to image_tag('Redmine_Live-01.png', plugin: 'redmine_angular_ui'),
                  angular_path(:anchor => @project.present? ? "/issues/filters?project_id=#{@project.id}" : "/issues"),
                  class: 'button',
                  target: '_blank' %>
    </div>
  </div>
  <style>
    .contextual-link {
      float: right;
      white-space: nowrap;
      line-height: 1.4em;
      margin-top: -6px;
      padding-left: 10px;
      font-size: 0.9em;
      margin-left: 1em;
      margin-right: -10px;
    }
    .contextual-link img{
      margin: 5px 5px 5px 4px;
      height: 20px;
    }
    .contextual-link .border-left{
      border: 20px solid;
      border-top-width: 31px;
      border-bottom: none;
      border-right: none;
      border-color: rgba(213,227,253, 1) transparent;
      display: inline-block;
    }
    .contextual-link .bg-link{
      background-color: rgba(213,227,253, 1);
      display: inline-block;
      height: 29px;
      margin-left: -0.35em;
      border: 1px solid rgba(213,227,253, 1);
    }
  </style>
<% end %>

