<div main_loader></div>

<ng-include src="'/redmine_angular_ui/templates/layouts/header.html'" ng-hide="mainLoading===undefined || mainLoading"></ng-include>

<div ng-hide="mainLoading===undefined || mainLoading" style="margin-top: 60px;">

  <div spinner="current.issue" class="centered"></div>

  <div ng-show="current.issue" class="col-xs-12 highlight">
    <div class="page-header" style="margin: 10px 0 20px;">
      <h4 class="ellipsis">
        <!-- <a href="#/issues/{{current.issue.id}}"> <span class="glyphicon glyphicon-chevron-left"></span></a> -->
        #{{current.issue.id}} - {{current.issue.subject}}
      </h4>
    </div>
    <ng-include src="'/redmine_angular_ui/templates/issues/_form.html'"></ng-include>
  </div>

</div>
