<md-dialog ng-show="mainLoading">
  <md-content>

    <md-subheader class="md-sticky-no-effect">
      <div spinner style="float: right;"></div>
      <h4>Pré-chargement des données</h4>
    </md-subheader>

    <md-checkbox ng-model="app.issues" ng-disabled="true">
      Demandes
    </md-checkbox>

    <md-checkbox ng-model="app.user" ng-disabled="true">
      Profil utilisateur
    </md-checkbox>

    <!--
    <md-checkbox ng-model="app.projects != undefined" ng-disabled="true">
      Projets
    </md-checkbox>
    -->

  </md-content>
</md-dialog>
