.alert.loading{
  margin-left: 25%;
  width: 50%;
  text-align: center;
}

ul{
  list-style: none;
  padding-left: 0;
}

.ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ellipsis.next_prev_issues{
  max-width: 500px;
}

.gray{
  color: #808080;
}

.issue_line{
  min-height: 30px;
  padding-top: 4px;
  border-top: 1px dotted rgb(220,220,220);
}

#issue-edit-form div{
 margin-bottom: 10px;
}

.highlight {
    padding: 9px 14px;
    margin-top: 10px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.pre-white-space{
    white-space: pre-line;
}

.form-horizontal select{
    margin-top: 7px;
}

@media (max-width: 749px) {
    .nav {
        clear: both;
    }
}

/* ------------------------------- Notifications ------------------------------------------------------------------------*/
#notifications {
    /*
    position: absolute;
    top: 12px;
    margin: 0 auto; left: 0; right: 0;
    z-index: 2;
    */
}
#notifications ul {
    margin-bottom: 0;
}
#notifications ul li {

    background-color: rgba(200,200,200,.75);
    /* background-image: -webkit-linear-gradient(top,rgba(78,78,78,.75),rgba(60,60,60,.75));
    background-image: linear-gradient(top,rgba(78,78,78,.75),rgba(60,60,60,.75));
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(78,78,78,.75)),to(rgba(60,60,60,.75))); */
    border: 1px solid transparent;
    color: #555;
    box-shadow: none;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    height: 27px;
    min-width: 54px;
    outline: 0px none;
    padding: 0px 8px;
    cursor: default;
    margin: 0 20px;

    z-index: 990;
    max-width: 350px;

    border-radius: 2px;
    -webkit-border-radius: 2px;
}

#notifications ul li a.cancel_notif {
    float: right;
    padding-left: 5px;
}

li.notified_line {
    background-color: #f9f9e2;
}

.issue-listing{
    /* font-size: 12px; */
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

a .glyphicon-chevron-left, a .glyphicon-chevron-right {
    color: #CC3A21;
    text-decoration: none;
}
a .glyphicon-chevron-left:hover, a .glyphicon-chevron-right:hover {
    color: red;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

a.icon{
    text-decoration: none;
}

.faye_client_status{
    font-weight: bold;
    margin-left: 10px;
}
.faye_client_status.green{
    color: green;
}
.faye_client_status.red{
    color: red;
}

/* Assignations */
assignation .not_assigned{
    display: none;
}
assignation .assigned_to_group{
    margin-top: 1px;
    width: 28px;
    height: 24px;
    background: url('../images/assigned_group_3.png') no-repeat;
}
assignation .assigned_to_user{
    margin-top: 1px;
    width: 28px;
    height: 24px;
    background: url('../images/assigned_user.png') no-repeat;
}

.search_filter.btn{
    padding: 5px 6px 2px 6px;
    right: 1em;
    position: absolute;
    border: none;
}
