<form class="form-horizontal" id="issue-edit-form" ng-submit="saveIssue()">

  <div ng-repeat="error in errors" class="alert alert-danger">{{error}}</div>

  <input type="hidden" ng-model="app.issue.id" />

  <label for="subject" class="col-md-2 control-label">Titre</label>
  <div class="col-md-10">
    <input type="text" class="form-control" id="subject" placeholder="Subject" ng-model="app.issue.subject">
  </div>

  <label for="description" class="col-md-2 control-label">Description</label>
  <div class="col-md-10">
    <textarea class="form-control" rows="4" id="description" ng-model="app.issue.description" placeholder="Description"></textarea>
  </div>

  <label class="col-md-2 control-label">Projet</label>
  <div class="col-md-10">
    <select id="project" ng-model="app.issue.project.id" ng-options="p.id as p.name for p in projects">
    </select>
  </div>

  <label class="col-md-2 control-label">Tracker</label>
  <div class="col-md-10">
    <select ng-model="app.issue.tracker.id" ng-options="t.id as t.name for t in trackers">
    </select>
  </div>

  <!--

  <label for="status" class="col-md-2 control-label">Statut</label>
  <div class="col-md-10">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="status">
        {{issue.status.name}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="status in statuses"><a class="link" ng-click="setStatus(status)">{{status.name}}</a></li>
      </ul>
    </div>
  </div>

  <label for="priority" class="col-md-2 control-label">Priorité</label>
  <div class="col-md-10">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="priority">
        {{issue.priority.name}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="priority in priorities"><a class="link" ng-click="setPriority(priority)">{{priority.name}}</a></li>
      </ul>
    </div>
  </div>

  <label for="assignedto" class="col-md-2 control-label">Assigné à</label>
  <div class="col-md-10">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="assignedto">
        {{issue.assigned_to | userName}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="user in users"><a class="link" ng-click="setAssignedTo(user)">{{user | userName}}</a></li>
      </ul>
    </div>
  </div>

  <label for="targetversion" class="col-md-2 control-label">Version cible</label>
  <div class="col-md-10">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="targetversion">
        {{issue.fixed_version.name}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a class="link" ng-click="setVersion({})">&nbsp;</a></li>
        <li ng-repeat="version in versions"><a class="link" ng-click="setVersion(version)">{{version.name}}</a></li>
      </ul>
    </div>
  </div>

  <label for="category" class="col-md-2 control-label">Catégorie</label>
  <div class="col-md-10">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="category">
        {{issue.category.name}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a class="link" ng-click="setCategory({})">&nbsp;</a></li>
        <li ng-repeat="category in categories"><a class="link" ng-click="setCategory(category)">{{category.name}}</a></li>
      </ul>
    </div>
  </div>

  -->

  <div class="col-md-offset-2 col-md-10">
    <button type="submit" class="btn btn-primary" ng-disabled="submitting"><span ng-show="app.issue.id">Mettre à jour</span><span ng-hide="app.issue.id">Créer</span></button>
  </div>
</form>

<!--
priority_id
category_id
parent_issue_id - ID of the parent issue -->
