<div class="pull-right-div" ng-bind="issue.updated_on | dateFormat"></div>
<div>
	<div class="select-div">
		<div class="check">
			<div class="mark"></div>
		</div>
	</div>

  <watched-toggle ng-model="issue.watched" issue-id="issue.id"></watched-toggle>
	<div class="tracker-div"> {{issue.tracker.name}}</div>
	<div class="project-div"> {{issue.project.name}}</div>
  <priority-toggle ng-model="issue.priority.id" issue-id="issue.id"></priority-toggle>
	<div class="subject-div">
		<div class="issue-tab">
			<span class="issue-subject">{{issue.subject}}</span>
			<span class="count" ng-class="issue.notes_count == 0 ? 'zero' : ' ' ">{{ issue.notes_count == 0 ? "New" : issue.notes_count }}</span>
			<span class="last-talk">{{ issue.last_note }}</span>
		</div>
	</div>
</div>
