<div class="wrapper" ng-class="{ 'priority-is6': issue.priority.id==6,
                                 'priority-is4': issue.priority.id==4,
                                 'priority-is3': issue.priority.id==3,
                                 'priority-is10': issue.priority.id==10}">
  <aside class="aside aside-watched">
    <watched-toggle ng-model="issue.watched" issue-id="issue.id" ng-show="issue.show_watched_toggle || issue.watched > 0 || issue.watched === null"></watched-toggle>
  </aside>

  <aside class="tracker aside">
    <div class="textCircle {{ 'tr-'+issue.tracker.id }}" title="{{ issue.tracker.name }}"> {{issue.tracker.name == 'Information' ? issue.tracker.name.substring(0, 3) : issue.tracker.name.substring(0, 2)}} </div>
  </aside>

  <aside class="issue_id aside">
    <a ng-href="/issues/{{issue.id}}" target="_blank">{{ issue.id }}</a>
  </aside>

  <aside class="project aside" title="{{ issue.project.name }}"> {{issue.project.name}}</aside>
  <!-- <aside class="aside aside-priority"> <priority-toggle ng-model="issue.priority.id" issue-id="issue.id"></priority-toggle> </aside>-->

  <a class="main subject issue-tab" ng-href="/issues/{{issue.id}}" target="_blank">
    <span class="issue-subject">{{issue.subject}}</span>
  </a>

  <div class="issue-tab note-count"><span class="count" ng-class="issue.notes_count == 0 ? 'zero' : 'at-least-one' ">{{ issue.notes_count == 0 ? "New" : issue.notes_count }}</span></div>

  <span class="last-talk">{{ issue.last_note }}</span>

  <aside class="aside aside-assignation">
    <assignation customclass="{{ issue.assigned_to_functional_role !== undefined ? 'assigned_to_group' : (issue.assigned_to != null ? 'assigned_to_user' : 'not_assigned') }}" text="{{ issue.assigned_to_functional_role.name || issue.assigned_to.name }}"></assignation>
  </aside>
  <aside class="aside updated_at" ng-bind="issue.updated_on | dateFormat" title="{{ issue.updated_on }}"></aside>
</div>
