<div main_loader></div>

<div ng-hide="mainLoading===undefined || mainLoading">
  <main-tabs></main-tabs>

  <div spinner="app.issue" class="centered"></div>

  <div ng-show="app.issue" class="col-xs-12 highlight">
    <div class="page-header" style="margin: 10px 0 20px;">
      <h4 class="ellipsis">
        <a href="#/issues/{{app.issue.id}}"> <span class="glyphicon glyphicon-chevron-left"></span></a>
        #{{app.issue.id}} - {{app.issue.subject}}
      </h4>
    </div>
    <ng-include src="'/plugin_assets/redmine_angular_ui/templates/issues/_form.html'"></ng-include>
  </div>
</div>
