<div main_loader></div>

<div ng-hide="mainLoading===undefined || mainLoading">
  <main-tabs></main-tabs>

  <div spinner="issue" class="centered"></div>

  <div ng-show="issue">
    <div class="page-header col-xs-12">

      <h3 class="ellipsis"><a href="#/issues/{{issue.id}}"> <span class="glyphicon glyphicon-chevron-left"></span></a> Modifier la demande #{{issue.id}} - {{issue.subject}}</h3>
    </div>
    <ng-include src="'/plugin_assets/redmine_angular_ui/templates/issues/_form.html'"></ng-include>
  </div>
</div>
