<div main_loader></div>

<div ng-hide="mainLoading===undefined || mainLoading">
  <main-tabs></main-tabs>
  <h3>Dernières demandes</h3>
  <div ng-controller="NotificationsController">
    <ul>
      <li ng-repeat="issue in issues | orderBy:id:false" class="issue_line" id="{{issue.id}}" ng-class="{'notified_line':(notified_lines.indexOf('issue-' + issue.id) > -1)}">
        <div class="issue-listing">
          <div class="col-sm-2 ellipsis gray">
            {{issue.tracker.name}}
          </div>
          <div class="col-sm-2 ellipsis gray">
            {{issue.project.name}}
          </div>
          <div class="col-sm-6 ellipsis">
            <a href="/angular#/issues/{{issue.id}}">{{issue.subject}}</a>
            <span class="gray">{{issue.description}}</span>
          </div>
          <div class="col-sm-2 ellipsis gray">
            {{issue.author.name}}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
