<div main_loader></div>

<ng-include src="'/plugin_assets/redmine_angular_ui/templates/layouts/header.html'" ng-hide="mainLoading===undefined || mainLoading"></ng-include>

<div ng-hide="mainLoading===undefined || mainLoading">
  <h3 style="margin-top: 60px;">Dernières demandes</h3>
  <div ng-controller="NotificationsController">
    <ul scroller="" loading-method="load_next_issues()">
      <li ng-repeat="issue in app.issues" class="issue_line" id="{{issue.id}}" ng-class="{'notified_line':(notified_lines.indexOf('issue-' + issue.id) > -1)}">
        <div class="issue-listing">
          <div class="col-sm-2 ellipsis gray">
            {{issue.tracker.name}}
          </div>
          <div class="col-sm-2 ellipsis gray">
            {{issue.project.name}}
          </div>
          <div class="col-sm-6 ellipsis">
            <a href="/angular#/issues/{{issue.id}}">{{issue.subject}}</a>
            <span class="gray">{{issue.description}}</span>
          </div>
          <div class="col-sm-2 ellipsis gray">
            {{issue.author.name}}
          </div>
        </div>
      </li>
    </ul>

    <div spinner="next_issue_loaded" class="centered"></div>
    <!-- href="javascript:void(0);" ng-click="load_next_issues();">Charger les demandes suivantes</ -->

  </div>
</div>
