<div main_loader></div>

<div ng-hide="mainLoading===undefined || mainLoading">

  <main-tabs></main-tabs>

  <div class="highlight">

    <div class="pull-right">
      <a href="#/issues/{{issue.id}}/edit"><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;Mettre à jour</a>
    </div>

    <div style="font-size: 20px;" >{{issue.tracker.name}} #{{issue.id}}</div>

    <h2 style="margin-top: 10px;">{{issue.subject}}</h2>
    <h5>Ajouté par {{issue.author.name}}</h5>

    <div class="row">
      <div class="col-md-1">Projet</div> <div class="col-md-11">{{issue.project.name}}</div>
      <div class="col-md-1">Statut</div> <div class="col-md-11">{{issue.status.name}}</div>
      <div class="col-md-1">Priorité</div> <div class="col-md-11">{{issue.priority.name}}</div>
      <div class="col-md-1">Description</div> <div class="col-md-11" style="white-space: pre;margin-top: 10px;">{{issue.description}}</div>
    </div>

  </div>

  <div class="row">
    <div spinner="issue.journals" class="centered"></div>
    <ul ng-repeat="journal in issue.journals">
      <li>
        <i class="col-md-2 ellipsis">{{journal.user.name}} :</i>
        <div class="col-md-10">
          {{journal.notes}}
          <div ng-repeat="detail in journal.details">
            <span>{{detail.name}}: {{detail.old_value}} to {{detail.new_value}}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
