<div style="float: right;">
  <h4>Bienvenue {{ user.firstname }}</h4>
</div>

<main-tabs></main-tabs>

<h3>{{issue.tracker.name}} #{{issue.id}}</h3>

<h2>{{issue.subject}}</h2>
<h5>Ajouté par {{issue.author.name}}</h5>

<div>
  <div>Projet : {{issue.project.name}}</div>
  <div>Statut : {{issue.status.name}}</div>
  <div>Priorité : {{issue.priority.name}}</div>
  <div>Description : {{issue.description}}</div>
</div>

<br/>

<div>
  <div spinner="issue_complete.journals" class="centered"></div>
  <ul ng-repeat="journal in issue_complete.journals">
    <li>
      <i>{{journal.user.name}}</i>:
      {{journal.notes}}
      <div ng-repeat="detail in journal.details">
        {{detail.name}}: {{detail.old_value}} to {{detail.new_value}}
      </div>
    </li>
  </ul>
</div>
