<div style="float: right;">
  <h4>Bienvenue {{ user.firstname }}</h4>
</div>

<div main_tabs></div>

<h2>Tous les projets</h2>

<div>
  <ul>
    <li ng-repeat="project in projects">
      <div class="project-listing">
        <div class="large-11 small-11 columns">
          <h5>
            {{ project.name + " > " + project.description }}
          </h5>
          <p>
            {{ project.updated_on | date:'dd/MM/yy H:mm:ss' }}
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
