<div class="f2 search-wrapper medFontSize">

  <div search-box search-box-toggle class="search-box">
    <form class="search-form">
      <fieldset class="f11 search-fieldset" id="search-fieldset">
        <div class="sfield-1 search-box-field"><input type="text" class="search-input" placeholder="{{ current_notif }}" id="search" autocomplete="off" style="cursor: pointer;" disabled="disabled"></div>
        <div class="sfield-2 has-dropdown">
          <div class="menu-trigger arrow-wrapper"><span class="arrow-down"></span></div>
          <div class="listWrapper listWrapperSkin filter-fieldset search-box-menu">
            <div class="arrow-close"></div>

            <!--
            <div class="formarea">
              <div class="rWrapper">
                <div class="has-dropdown isInBloVisible">
                  <div class="list-trigger select-list">Demandes <span class="arrow-up-and-down"></span></div>
                  <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                    <div class="menuitem data-test"><div class="menuitem-content"><span>Annonces</span></div></div>
                    <div class="menuitem data-test"><div class="menuitem-content"><span>Révisions</span></div></div>
                    <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Demandes</span></div></div>
                    <div class="menuitem data-test"><div class="menuitem-content"><span>Wiki</span></div></div>
                    <div class="menuitem data-test"><div class="menuitem-content"><span>Messages</span></div></div>
                    <div class="menuitem data-test"><div class="menuitem-content"><span>Redmine Plugins</span></div></div>
                    <div class="submenu-link separator-horizontal"></div>
                    <div class="menuitem data-test"><div class="menuitem-content"><span>Tous les objets</span></div></div>
                  </div>
                </div>
                <span class="unselectable">&nbsp;dans&nbsp;</span>
                <div class="has-dropdown isInBloVisible">
                  <div class="list-trigger isInBloVisible select-list">Numéro Unique Infocentre <span class="arrow-up-and-down"></span></div>
                  <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                    <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Numéro Unique Infocentre</span></div></div>
                    <div class="menuitem data-test"><div class="menuitem-content"><span>Tous les projets</span></div></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="submenu-link separator-horizontal"></div>

            -->

            <div class="formarea">
              <table class="invisible-table">
                <colgroup>
                  <col class="select-col">
                  <col class="form-label">
                  <col class="form-condition">
                  <col class="form-value">
                </colgroup>

                <!-- Assigned_to_id -->
                <tr class="selected">
                  <td><span class="isInBloVisible searchLabel unselectable">Assigné à</span></td>
                  <td>
                    <div class="has-dropdown isInBloVisible">
                      <div class="list-trigger isInBloVisible select-list" ng-bind="current.filters['assigned_to_id'] == '!*' ? 'Aucun' : 'Tous' ">Différent <span class="arrow-up-and-down"></span></div>
                      <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Égal</span></div></div>
                        <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Différent</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Tous</span></div></div>
                      </div>
                    </div>
                  </td>
                  <!--
                  <td>
                    <div class="has-dropdown isInBloVisible">
                      <div class="list-trigger isInBloVisible select-list">Nouveau <span class="arrow-up-and-down"></span></div>
                      <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Ouvert</span></div></div>
                        <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Nouveau</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Fermé</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Rejeté</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Traité</span></div></div>
                      </div>
                    </div>
                  </td>
                  -->
                </tr>

                <!-- status -->
                <tr class="selected">
                  <td><span class="isInBloVisible searchLabel unselectable">Statut</span></td>
                  <td>
                    <div class="has-dropdown isInBloVisible">
                      <div class="list-trigger isInBloVisible select-list">Ouvert</span></div>
                      <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Égal</span></div></div>
                        <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Différent</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Tous</span></div></div>
                      </div>
                    </div>
                  </td>
                  <!--
                  <td>
                    <div class="has-dropdown isInBloVisible">
                      <div class="list-trigger isInBloVisible select-list">Nouveau <span class="arrow-up-and-down"></span></div>
                      <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Ouvert</span></div></div>
                        <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Nouveau</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Fermé</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Rejeté</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Traité</span></div></div>
                      </div>
                    </div>
                  </td>
                  -->
                </tr>

                <!-- Project -->
                <tr class="selected">
                  <td><span class="isInBloVisible searchLabel unselectable">Projet</span></td>
                  <td>
                    <div class="has-dropdown isInBloVisible">
                      <div class="list-trigger isInBloVisible select-list">Égal</span></div>
                      <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Égal</span></div></div>
                        <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Différent</span></div></div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="has-dropdown isInBloVisible">
                      <div class="list-trigger isInBloVisible select-list" ng-bind="project.name">Non prioritaire <span class="arrow-up-and-down"></span></div>
                      <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Haute</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Moyenne</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Basse</span></div></div>
                        <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Non prioritaire</span></div></div>
                      </div>
                    </div>
                  </td>
                </tr>

                <!-- admin -->
                <tr class="selected">
                  <td><span class="isInBloVisible searchLabel unselectable">Mode admin</span></td>
                  <td>
                    <div class="has-dropdown isInBloVisible">
                      <div class="list-trigger isInBloVisible select-list" ng-bind="current.user_is_admin ? 'Activé' : 'Désactivé' ">Indéfini <span class="arrow-up-and-down"></span></div>
                      <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Activé</span></div></div>
                        <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Désactivé</span></div></div>
                      </div>
                    </div>
                  </td>
                  <!--
                  <td>
                    <div class="has-dropdown isInBloVisible">
                      <div class="list-trigger isInBloVisible select-list">Nouveau <span class="arrow-up-and-down"></span></div>
                      <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Ouvert</span></div></div>
                        <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Nouveau</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Fermé</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Rejeté</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Traité</span></div></div>
                      </div>
                    </div>
                  </td>
                  -->
                </tr>

                <!-- tracker -->
                <tr class="selected">
                  <td><span class="isInBloVisible searchLabel unselectable">Tracker</span></td>
                  <td>
                    <div class="has-dropdown isInBloVisible">
                      <div class="list-trigger isInBloVisible select-list">Égal</span></div>
                      <div class="listWrapper listWrapperSkin dropdown-list has-selectable-items">
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Égal</span></div></div>
                        <div class="menuitem data-test selected-item"><div class="menuitem-content"><span>Différent</span></div></div>
                        <div class="menuitem data-test"><div class="menuitem-content"><span>Tous</span></div></div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <custom-select placeholder="Tous les trackers" list="trackers" selected="tracker" property="name"></custom-select>
                  </td>
                </tr>

              </table>
            </div>

            <!--

            <div class="submenu-link separator-horizontal"></div>
            <div class="formarea">
              <div class="rWrapper">
                <div class="f1"><a href="" class="action-link">Sauvegarder</a></div>
                <div class="f1 align-right"><button class="search-button-inline icon" data-icon="?"></button></div>
              </div>
            </div>

            -->

          </div>
        </div>
      </fieldset>
      <button class="f0 search-button icon" data-icon="?"></button>
    </form>
  </div>

</div>
